.pill {
    display: inline-block;
    margin: 0;
    padding-left: 10px;
    padding-right:10px;
    list-style: none;
    border-radius: 1em;
    border: 1px solid rgba(0,0,0,.25);
    box-shadow: 0 1px 0 #fff;
    }


      